body {background-color:aqua; font-family:georgia; }
h1 {font-family:comic sans MS; font-size:60px; color:darkblue; text-align:center; }
h3 a {color:white; }
h4 {text-align: right; font-style: italic;}
.p1 {text-align: center; text-indent: 4%; color: orange; }
.p2 {text-align: center; text-indent: 4%; line-height: 30px;}
h3 a:hover {color: red;}
.p2 a:hover {color: white; background-color:blue;}